{% extends 'main/base.html' %}

{% block content %}

    <h2>Добавить {% if type == 'folder' %}папку{% else %}материал{% endif %}</h2>
    <br>

    {% if message.0 == 'success'%}
        <div class="alert alert-success" role="alert">
            {{ message.1 }}
        </div>
    {% elif message.0 == 'error' %}
        <div class="alert alert-danger" role="alert">
            {{ message.1 }}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Название</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        {% for f in path %}{{ f.0 }}/{% endfor %}
                    </span>
                </div>
                {{ form.title }}
            </div>
        </div>
        {% if title == 'Добавить материал' %}
            <div class="form-group">
                <label>{{ form.provider.label }}</label>
                {{ form.provider }}
            </div>

            <div class="form-group">
                <label>{{ form.units.label }}</label>
                {{ form.units }}
            </div>

            <div class="form-group">
                <label>{{ form.url.label }}</label>
                {{ form.url }}
            </div>

        {% endif %}

        <button type="submit" class="btn btn-outline-success">Добавить</button>
    </form>

{% endblock %}