{% extends 'main/base.html' %}

{% block content %}

    {% load static %}
    <script>
        function expand(num) {
            try {
                document.getElementsByClassName("collapse show")[0].className = "collapse";
                let b = document.getElementsByClassName("btn btn-link btn-lg")[0];
                if (b.id !== "btn" + num.toString())
                    b.className = "btn btn-light btn-lg";
            } catch (e) {
            }
            if (document.getElementById("btn" + num.toString()).className === "btn btn-light btn-lg") {
                document.getElementById("btn" + num.toString()).className = "btn btn-link btn-lg";
                document.getElementById("div" + num.toString()).className = "collapse show";
            } else {
                document.getElementById("btn" + num.toString()).className = "btn btn-light btn-lg";
                document.getElementById("div" + num.toString()).className = "collapse";
            }
        }
    </script>

    <div class="container">

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск..." aria-label="Поиск..." id="search" value="{{ text }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="search()">&#128269</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-auto" id="btns">
                {% for folder in folders %}
                    <button {% if user.is_superuser %}oncontextmenu="actions({{ folder.id }}, '{{ folder.title }}', 'folder', 'btn{{ forloop.counter0 }}'); return false"{% endif %}
                            style="width: 250px; margin-bottom: 5px; text-align: left" id="btn{{ forloop.counter0 }}"
                            {% if user.is_authenticated %}onclick="expand({{ forloop.counter0 }})"{% endif %} class="btn btn-light btn-lg">
                        <img src="{% static 'img/folder.png' %}" width="20" height="20"/>
                        {{ folder.title }}</button> <br>
                {% endfor %}

                {% for mat in materials %}
                    <button {% if user.is_superuser %}oncontextmenu="actions({{ mat.id }}, '{{ mat.title }}', 'material', 'mbtn{{ forloop.counter0 }}'); return false"{% endif %}
                            id="mbtn{{ forloop.counter0 }}" style="width: 250px; margin-bottom: 5px; text-align: left"
                            {% if user.is_authenticated %}onclick="add_to_stock({{ mat.id }}, '{{ mat.title }}')" class="btn btn-light btn-lg"{% endif %}>
                        <img src="{% if mat.picture_url %} {{ mat.picture_url }} {% else %} {% static 'img/material.png' %} {% endif %}"
                             width="20" height="20"/>
                        {{ mat.title }}</button> <br>
                {% endfor %}
            </div>

            <div class="col-md-auto">
                {% for folder in folders %}
                    <div id="div{{ forloop.counter0 }}" class="collapse">
                        <div class="card card-body" style="width: 400px">
                            {% for elem in folder.folder_set.all %}
                                <div class="shadow-sm p-sm-2 mb-1 bg-white rounded" id="cfolder{{ forloop.counter0 }}"
                                     {% if user.is_superuser %}oncontextmenu="actions({{ elem.id }}, '{{ elem.title }}', 'folder', 'cfolder{{ forloop.counter0 }}'); return false"{% endif %}>
                                    <img style="float: left;" src="{% static 'img/folder.png' %}" width="50"
                                         height="50"/>
                                    <a href="/catalog/{{ elem.id }}" style="width: 300px"> <big><u>{{ elem.title }}</u></big>
                                    </a>
                                </div>
                            {% endfor %}

                            {% for elem in folder.absmaterial_set.all %}
                                <div class="shadow-sm p-sm-2 mb-1 bg-white rounded" id="cmaterial{{ forloop.counter0 }}"
                                     {% if user.is_superuser %}oncontextmenu="actions({{ elem.id }}, '{{ elem.title }}', 'material', 'cmaterial{{ forloop.counter0 }}'); return false"{% endif %}>
                                    {#                        <button type="button" class="btn btn-light" onclick="window.location = '/add-to-stock/{{ elem.id }}'">{{ elem.title }}</button> <br>#}
                                    <img style="float: left;"
                                         src="{% if elem.picture_url %} {{ elem.picture_url }} {% else %} {% static 'img/material.png' %} {% endif %}"
                                         width="50" height="50"/>
                                    <a href="#" {% if user.is_authenticated %}onclick="add_to_stock({{ elem.id }}, '{{ elem.title }}')"{% endif %}>
                                        <big><u>{{ elem.title }}</u></big> </a>
                                </div>
                            {% endfor %}
                            {% if user.is_superuser %}
                                <div class="shadow-sm p-sm-2 mb-1 bg-white rounded">
                                    <img src="{% static 'img/add.png' %}" width="50" height="50"/>
                                    <a href="#" onclick="add_form({{ folder.id }}, 'folder')"> <big><u>Добавить
                                        папку</u></big> </a>
                                </div>
                                <div class="shadow-sm p-sm-2 mb-1 bg-white rounded">
                                    <img src="{% static 'img/add.png' %}" width="50" height="50"/>
                                    <a href="#" onclick="add_form({{ folder.id }}, 'material')"> <big><u>Добавить
                                        материал</u></big> </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-auto" id="additional"></div>
            <button onclick="topFunction()" class="btn btn-light" id="up" title="Наверх" style="display: none; position: fixed; bottom: 20px; right: 30px; z-index: 99;">Наверх</button>

        </div>

    </div>

    <script>
        function del_adder() {
            let adder = document.getElementById('add');
            if (adder)
                adder.remove();
        }

        function new_add() {
            let col = document.getElementById('additional');
            let card = document.createElement('div');
            card.id = 'add';
            card.className = 'card card-body';
            card.style = 'width: 400px';
            col.appendChild(card);
            return card;
        }

        function add_form(pid, elem) {
            del_adder();
            let card = new_add();
            let iframe = document.createElement('iframe');
            iframe.src = (elem === 'folder' ? '/add-folder/' : '/add-material/') + pid.toString();
            iframe.frameBorder = 'false';
            iframe.scrolling = 'no';
            iframe.height = elem === 'folder' ? '350' : '630';
            card.appendChild(iframe);
        }

        function actions(oid, title, kind, htmlid) {
            del_adder();
            let card = new_add();
            let cont = document.createElement('div');
            card.appendChild(cont);
            cont.className = 'container';
            let h = document.createElement('h5');
            h.innerText = title;
            cont.appendChild(h);
            let row = document.createElement('div');
            row.className = 'row';
            cont.appendChild(row);

            let btn1 = document.createElement('button');
            btn1.className = 'btn btn-outline-primary';
            btn1.innerText = 'Редактировать';
            btn1.onclick = function () {
                del_adder();
                let card = new_add();
                let iframe = document.createElement('iframe');
                iframe.src = (kind === 'folder' ? '/edit-folder/' : '/edit-material/') + oid.toString();
                iframe.frameBorder = 'false';
                iframe.scrolling = 'no';
                iframe.height = kind === 'folder' ? '350' : '630';
                card.appendChild(iframe);
            }
            row.appendChild(btn1);

            let v = document.createElement('div');
            v.style = 'width: 5px'
            row.appendChild(v)

            let btn2 = document.createElement('button');
            btn2.className = 'btn btn-outline-danger';
            btn2.innerText = 'Удалить';
            btn2.onclick = function () {
                // window.location = (kind === 'folder' ? '/del-folder/' : '/del-material/') + oid.toString();
                $.ajax((kind === 'folder' ? '/del-folder/' : '/del-material/') + oid.toString(), {
                    type: 'get',
                    success: function () { /*document.getElementById(htmlid).remove()*/
                    },
                    failure: function () {
                        alert('Что-то пошло не так! Попробуйте перезагрузить страницу и повторить попытку.');
                    }
                })
            }
            row.appendChild(btn2);
        }

        function add_to_stock(mid, mat) {
            del_adder();
            let card = new_add();
            let cont = document.createElement('div');
            card.appendChild(cont);
            cont.className = 'container';

            $.ajax('/api/get-units/' + mid.toString(), {
                type: 'get',
                success: function (units) {
                    let h = document.createElement('h5');
                    h.innerText = 'Добавить ' + mat;
                    cont.appendChild(h);

                    let count_l = document.createElement('label');
                    cont.appendChild(count_l);
                    count_l.innerText = 'Кол-во';

                    let count = document.createElement('div');
                    cont.appendChild(count);
                    count.className = 'input-group mb-3';
                    count.innerHTML = "<input class=\"form-control\" id=\"count_value\"> <div class=\"input-group-append\"><span class=\"input-group-text\">" + units + "</span></div>";

                    let price_l = document.createElement('label');
                    cont.appendChild(price_l);
                    price_l.innerText = 'Цена';

                    let price = document.createElement('div');
                    cont.appendChild(price);
                    price.className = 'input-group mb-3';
                    price.innerHTML = "<input class=\"form-control\" id=\"price\"> <div class=\"input-group-append\"><span class=\"input-group-text\">₽/" + units + "</span></div>";
                    $.get('/api/get-last-price/' + mid.toString(), {}, function (e) {
                        document.getElementById('price').value = e;
                    });

                    let for_order_l = document.createElement('label');
                    cont.appendChild(for_order_l);
                    for_order_l.innerText = 'Для заказа';

                    let for_order = document.createElement('div');
                    cont.appendChild(for_order);
                    for_order.className = 'input-group mb-3';
                    for_order.innerHTML = "<select class=\"form-control\" id=\"for_order\"><option value selected>None</option></select>";

                    $.ajax('/api/get-order-list', {
                        type: 'get',
                        success: function (req) {
                            let sel = document.getElementById('for_order');
                            while (sel.children.length > 1) sel.lastChild.remove()
                            let opt;
                            for (let i = 0; i < req.data.length; i++) {
                                opt = document.createElement('option');
                                opt.value = req.data[i];
                                opt.innerText = '№ ' + req.data[i].toString();
                                sel.appendChild(opt);
                            }
                        }
                    });

                    let btn1 = document.createElement('button');
                    btn1.className = 'btn btn-outline-primary';
                    btn1.innerText = 'Добавить';
                    btn1.onclick = function () {
                        let count = document.getElementById('count_value').value;
                        let price = document.getElementById('price').value;
                        let fo = document.getElementById('for_order').value;
                        $.ajax('/add-task/' + mid.toString() + '/' + (count ? count : 0) + '/' + (price ? price : 0) + '/' + (fo ? fo : 0), {
                            type: 'get',
                            complete: function (r) {
                                if (r.status === 200) {
                                    let mess = document.createElement('div');
                                    mess.className = 'alert alert-success';
                                    mess.innerText = mat + ' успешно добавлен!';
                                    cont.insertBefore(mess, count_l);
                                }
                                else {
                                    let mess = document.createElement('div');
                                    mess.className = 'alert alert-danger';
                                    mess.innerText = 'Не удалось добавить ' + mat + '! Перезагрузите страницу и попробуйте ещё раз';
                                    cont.insertBefore(mess, count_l);
                                }
                            }
                        })
                    }
                    cont.appendChild(btn1);
                    cont.appendChild(document.createElement('hr'));

                    let arr_h = document.createElement('h5');
                    arr_h.innerText = 'Отметить приход';
                    cont.appendChild(arr_h);

                    let arr_count_l = document.createElement('label');
                    cont.appendChild(arr_count_l);
                    arr_count_l.innerText = 'Кол-во';

                    let arr_count = document.createElement('div');
                    cont.appendChild(arr_count);
                    arr_count.className = 'input-group mb-3';
                    arr_count.innerHTML = "<input class=\"form-control\" id=\"arr_count_value\"> <div class=\"input-group-append\"><span class=\"input-group-text\">" + units + "</span></div>";

                    let arr_price = document.createElement('div');
                    cont.appendChild(arr_price);
                    arr_price.className = 'input-group mb-3';
                    arr_price.innerHTML = "<input class=\"form-control\" id=\"arr_price\"> <div class=\"input-group-append\"><span class=\"input-group-text\">₽/" + units + "</span></div>";
                    $.get('/api/get-last-price/' + mid.toString(), {}, function (e) {
                        document.getElementById('arr_price').value = e;
                    });

                    let arr_btn1 = document.createElement('button');
                    arr_btn1.className = 'btn btn-outline-primary';
                    arr_btn1.innerText = 'Отметить';
                    arr_btn1.onclick = function () {
                        $.ajax('/mark-arrival/' + mid.toString() + '/' + document.getElementById('arr_count_value').value + '/' + document.getElementById(('arr_price')).value, {
                            type: 'get',
                            complete: function (r) {
                                if (r.status === 200) {
                                    let mess = document.createElement('div');
                                    mess.className = 'alert alert-success';
                                    mess.innerText = mat + ' отмечен на складе';
                                    cont.insertBefore(mess, arr_count_l);
                                }
                                else {
                                    let mess = document.createElement('div');
                                    mess.className = 'alert alert-danger';
                                    mess.innerText = 'Что-то пошло не так! Возможно, материал не был заказан или вы указали некорректные значения полей';
                                    cont.insertBefore(mess, arr_count_l);
                                }
                            }
                        })
                    }
                    cont.appendChild(arr_btn1);
                }
            });
        }

        function search() {
            let text = document.getElementById('search').value;
            window.location = text ? ('/catalog/search/' + text) : '/catalog/0';
        }

        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("up").style.display = "block";
            } else {
                document.getElementById("up").style.display = "none";
            }
        }

        function topFunction() {
            document.documentElement.scrollTop = 0;
        }

        (function () {
            document.getElementById('search').addEventListener('keydown', function (e) {
                if (e.keyCode === 13) {
                    search();
                }
            });
        })();
    </script>

{% endblock %}