{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <h2 style="margin-bottom: 20px">{{ title }}
                {% if user.is_authenticated %}
                    <a class="badge badge-link" href="/edit-order/{{ order.id }}{% if additional %}/1{% endif %}">&#128393</a>
                {% endif %}
            </h2>
            {% if user.is_authenticated %}
                <button class="btn btn-outline-primary btn-sm" style="height: 40px"
                        onclick="$.get('/api/order-to-work/{{ order.id }}'); setTimeout(() => { window.location.href='' }, 300);">
                    В производство
                </button>
                <div style="width: 10px"></div>
                <button class="btn btn-outline-success btn-sm" style="height: 40px"
                        onclick="$.get('/api/confirm-order/{{ order.id }}'); setTimeout(() => { window.location.href='' }, 300);">
                    Выполнен
                </button>
            {% endif %}
        </div>

        <label>Заказчик: <label style="color: gray">{{ order.client }}</label></label> <br>
        <label>Описание: <label style="color: gray; width: auto">{{ order.description }}</label></label> <br>
        <label>Статус: <label style="color: gray; width: auto">{{ order.get_status_display }}</label></label> <br>
        <label>Дата приёма: <label style="color: gray">{{ order.order_date }}</label></label> <br>
        <label>Дата исполнения: <label style="color: gray">{{ order.prod_date }}</label></label> <br>
        <label>Менеджер (кто взял заказ): <label style="color: gray">{{ order.manager }}</label></label> <br>

        <h6>Материалы</h6>
        <ul>
            {% for elem in order.material_set.all %}
                <li>
                    <label>{{ elem.material.title }} - {{ elem.count|floatformat:2 }} {{ elem.material.units }}</label>
                    <label style="color: gray">{% if elem.details %}({{ elem.details }}){% endif %}
                        - {{ elem.get_status_display }}</label>
                </li>
            {% endfor %}
        </ul>
        <label>Стоимость материалов: <label style="color: gray">{{ cost }} ₽</label></label>

    </div>

    <script>
        function restore(el_id) {
            let exp = document.getElementById("expanded" + el_id);
            exp.children[0].hidden = false;
            exp.children[1].hidden = false;
            exp.children[2].hidden = true;
        }

        function edit(el_id) {
            let sel = document.getElementById("select" + el_id);
            let nid = sel.options[sel.options.selectedIndex].value;

            let exp = document.getElementById("expanded" + el_id);
            exp.children[0].hidden = true;
            exp.children[1].hidden = true;
            exp.children[2].hidden = false;
            exp.children[2].src = "/stock/edit/" + el_id + "/" + nid;
        }
    </script>

{% endblock %}