{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <style>
        .my-dropdown {
            width: 30px;
            height: 90px;
            background: #e1e1e1;
            position: absolute;
            border-radius: 5px;
        }

        .my-dropdown:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: 40%;
            left: -60%;
            border-top: 9px solid transparent;
            border-right: 18px solid #e1e1e1;
            border-bottom: 9px solid transparent;
        }
    </style>

    <div class="container">
        <div class="row">
            <h2 style="margin-bottom: 20px; margin-right: 20px; margin-left: 20px">Склад</h2>
            <img src="{% static 'img/filter.png' %}" width="20" height="20" alt="Filter"
                 style="margin-top: 15px; margin-right: 15px; cursor: pointer"
                 onclick="let q = document.getElementById('filters'); q.hidden = !q.hidden;">
            <div class="row" id="filters" style="margin-top: 5px" {% if not exp_filters %}hidden{% endif %}>
                <div class="input-group mb-3" style="width: 400px; margin-left: 50px">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="for_order_filter">Для закза</label>
                    </div>
                    <select class="form-control" id="for_order_filter" onchange="filter()">
                        <option value="" selected>Все</option>
                        {% for opt in orders %}
                            <option value="{{ opt.id }}" {% if opt.id == for_order_id %}selected{% endif %}>№{{ opt.id }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="width: 50px"></div>
                <div class="input-group mb-3" style="width: 400px">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="status_filter">Статус</label>
                    </div>
                    <select class="form-control" id="status_filter" onchange="filter()">
                        <option value="" selected>Любой</option>
                        <option value="1" {% if 1 == status %}selected{% endif %}>На складе</option>
                        <option value="0" {% if 0 == status %}selected{% endif %}>Ожидается</option>
                        <option value="2" {% if 2 == status %}selected{% endif %}>В производстве</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск..." aria-label="Поиск..." id="search"
                   value="{{ text }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="search()">&#128269</button>
            </div>
        </div>

        <table class="table table-hover" style="background-color: azure">
            <thead class="thead-light">
            <tr>
                <th scope="col">№</th>
                <th scope="col" style="padding-left: 80px">Материал</th>
                <th scope="col" style="text-align: center">Кол-во</th>
                <th scope="col" style="text-align: center">Для заказа</th>
                <th scope="col" style="text-align: center">Статус</th>
                {% if user.is_authenticated %}
                    <th scope="col"></th>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% for elem in stock %}
                <tr id="tr{{ elem.id }}"
                    aria-expanded="true" aria-controls="collapse{{ elem.id }}">
                    <th scope="row" style="line-height: 3em;">{{ forloop.counter }}</th>
                    <td>
                        <div style="color: gray; white-space: nowrap; width: 600px; overflow: hidden; text-overflow: ellipsis;">
                            <img style="float: left; margin-right: 15px"
                                 src="{% if elem.material.picture_url %} {{ elem.material.picture_url }} {% else %} {% static 'img/material.png' %} {% endif %}"
                                 width="50" height="50"/>
                            <a title="{{ elem.material.title }}"
                               style="color: black; width: 300px"><big>{{ elem.material.title }}</big></a> <br>
                            <a title="{{ elem.details }}">{% if elem.details %}{{ elem.details }}{% endif %}</a>
                        </div>
                    </td>
                    <td style="line-height: 3em; text-align: center">{{ elem.count|floatformat:2 }} {{ elem.material.units }}</td>
                    <td style="text-align: center">
                        {% if elem.for_order_id %}
                            <a class="for_order" id="fo{{ elem.id }}" href="/order/{{ elem.for_order_id }}"
                               style="line-height: 3em;">№
                            {{ elem.for_order_id }}{% else %}
                            <a class="for_order" id="fo{{ elem.id }}" style="line-height: 3em;"> - {% endif %}</a>
                    </td>
                    <td style="line-height: 3em; text-align: center"
                        id="s{{ elem.id }}">{{ elem.get_status_display }}</td>
                    {% if user.is_authenticated %}
                        <td style="text-align: center; padding-top: 17px">
                            <button class="btn btn-light" style="background-color: aliceblue"
                                    onclick="hide_dds(); document.getElementById('opts{{ elem.id }}').hidden = !document.getElementById('opts{{ elem.id }}').hidden">
                                ⋮
                                <a class="my-dropdown" style="margin-left: 32px; margin-top: -3.6%"
                                   id="opts{{ elem.id }}" hidden
                                   onclick="hide_dds()">
                                    <div style="margin-left: 2px">
                                        <div style="height: 3px"></div>
                                        <img src="{% static 'img/check.png' %}" alt="check.png" class="btn-light"
                                             height="22" width="22" style="background-color: #e1e1e1; opacity: 0.7"
                                             onclick="confirm({{ elem.id }})">
                                        <div style="height: 3px"></div>
                                        <img src="{% static 'img/cross.png' %}" alt="cross.png" class="btn-light"
                                             height="22" width="22" style="background-color: #e1e1e1; opacity: 0.7"
                                             onclick="del({{ elem.id }})">
                                        <div style="height: 3px"></div>
                                        <img src="{% static 'img/pencil.png' %}" alt="pencil.png" class="btn-light"
                                             height="22" width="22" style="background-color: #e1e1e1; opacity: 0.7"
                                             onclick="restore('{{ elem.id }}')" data-toggle="collapse"
                                             data-target="#collapse{{ elem.id }}">
                                        <div style="height: 3px"></div>
                                    </div>
                                </a>
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr style="background-color: aliceblue">
                    <td colspan="5" id="collapse{{ elem.id }}" class="collapse">
                        <div class="container">
                            <div style="float: right; cursor: pointer" data-toggle="collapse"
                                 data-target="#collapse{{ elem.id }}" aria-expanded="true"
                                 aria-controls="collapse{{ elem.id }}">✖
                            </div>
                        </div>
                        <div class="container" id="expanded{{ elem.id }}">
                            <label for="select{{ elem.id }}">Материал</label>
                            <div class="input-group">
                                <select class="form-control" id="select{{ elem.id }}"
                                        style="background-color: aliceblue">
                                    {% for el in all %}
                                        <option value="{{ el.id }}"
                                                {% if el.id == elem.material.id %}selected="selected"{% endif %}>{{ el.title }}</option>
                                    {% endfor %}
                                </select>
                                <div style="width: 5px;"></div>
                                <button class="btn btn-outline-secondary" onclick="edit('{{ elem.id }}')">Далее</button>
                            </div>
                            <iframe frameborder="false" scrolling="no" width="90%" height="550px" hidden></iframe>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>

        <div class="container row">
            <style>
                .my-btn {
                    margin-right: 10px;
                    width: 40px;
                    height: 40px;
                }
            </style>
            {% if page > 1 %}
                <a class="btn btn-outline-secondary my-btn" onclick="to_page({{ page|add:-1 }})"><</a>
                <a class="btn btn-outline-secondary my-btn" onclick="to_page({{ page|add:-1 }})">{{ page|add:-1 }}</a>
            {% endif %}
            <a class="btn btn-outline-secondary my-btn disabled" onclick="to_page({{ page }})">{{ page }}</a>
            {% if not is_last %}
                <a class="btn btn-outline-secondary my-btn disabled">...</a>
                <a class="btn btn-outline-secondary my-btn" onclick="to_page({{ page|add:+1 }})">{{ page|add:+1 }}</a>
                <a class="btn btn-outline-secondary my-btn" onclick="to_page({{ page|add:+1 }})">></a>
            {% endif %}

        </div>
    </div>

    <script>
        function hide_dds() {
            let dds = document.getElementsByClassName('my-dropdown');

            for (let i = 0; i < dds.length; i++)
                dds[i].hidden = true;
        }

        function to_page(page) {
            let fo = document.getElementById('for_order_filter').value;
            let st = document.getElementById('status_filter').value;

            if (fo || st)
                window.location = '/stock/search/{{ text }}/' + page.toString() + '?' + (fo ? 'for_order=' + fo + '&': '') + (st ? 'status=' + st + '&' : '') + 'exp_filters=1';
            else
                window.location = '/stock/search/{{ text }}/' + page.toString();
        }


        function restore(el_id) {
            let exp = document.getElementById("expanded" + el_id);
            exp.children[0].hidden = false;
            exp.children[1].hidden = false;
            exp.children[2].hidden = true;
        }

        function edit(el_id) {
            let sel = document.getElementById("select" + el_id);
            let nid = sel.options[sel.options.selectedIndex].value;

            let exp = document.getElementById("expanded" + el_id);
            exp.children[0].hidden = true;
            exp.children[1].hidden = true;
            exp.children[2].hidden = false;
            exp.children[2].src = "/stock/edit/" + el_id + "/" + nid;
        }

        function filter() {
            let fo = document.getElementById('for_order_filter').value;
            let st = document.getElementById('status_filter').value;

            if (fo || st)
                window.location = '/stock/search/{{ text }}/1' + '?' + (fo ? 'for_order=' + fo + '&': '') + (st ? 'status=' + st + '&' : '') + 'exp_filters=1';
            else
                window.location = '/stock/search/{{ text }}/1';
        }

        function search() {
            let text = document.getElementById('search').value;
            window.location = text ? ('/stock/search/' + text + '/1') : '/stock/1';
        }

        function confirm(mid) {
            $.get('/stock/confirm/' + mid.toString(), function () {
                let st = document.getElementById('s' + mid.toString());
                switch (st.innerText) {
                    case 'Ожидается':
                        st.innerText = 'На складе';
                        break;
                    case 'На складе':
                        st.innerText = 'В производстве';
                        break;
                    case 'В производстве':
                        document.getElementById('tr' + mid.toString()).remove();
                        document.getElementById('expanding' + mid.toString()).remove();
                        break;
                }
            });
        }

        function del(mid) {
            $.get('/stock/delete/' + mid.toString());
            document.getElementById('tr' + mid.toString()).remove();
            document.getElementById('expanding' + mid.toString()).remove();
        }

        (function () {
            document.getElementById('search').addEventListener('keydown', function (e) {
                if (e.keyCode === 13) {
                    search();
                }
            });
        })();
    </script>

{% endblock %}