{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <meta name="csrf-token" content="{{ csrf_token }}">

    <script>
        window.remainders = {};
        window.remainders_prices = {};

        function refresh_selection() {
            $.ajax('/api/get-order-list', {
                type: 'get',
                success: function (req) {
                    let sel = document.getElementById('for_order');
                    while (sel.children.length > 1) sel.lastChild.remove()
                    let opt;
                    for (let i = 0; i < req.data.length; i++) {
                        opt = document.createElement('option');
                        opt.value = req.data[i];
                        opt.innerText = '№ ' + req.data[i].toString();
                        sel.appendChild(opt);
                    }
                }
            })
        }

        function refresh_remainders(mid) {
            let curr;
            curr = document.getElementsByClassName('remainder' + mid.toString());

            for (let i = 0; i < curr.length; i++) {
                curr[i].innerText = window.remainders[mid].toFixed(2);
            }
        }

        function calculate_cost() {
            let cost = 0, cost2 = 0, id_, rem, c;

            let checkboxes = document.getElementsByClassName('checkbox');
            for (let i = 0; i < checkboxes.length; i++) {
                id_ = checkboxes[i].id.slice(11);
                if (checkboxes[i].checked) {
                    cost2 += parseFloat(document.getElementById('count_' + id_).value) * parseFloat(document.getElementById('price_' + id_).value)
                    c = document.getElementById('count_' + id_)
                    cost += Math.min(parseFloat(c.placeholder), parseFloat(c.value)) * parseFloat(document.getElementById('price_' + id_).value)

                    rem = document.getElementById('rem' + id_);
                    if (rem && rem.className[0] === 'u')
                        cost += parseFloat(rem.innerText) * window.remainders_prices[parseInt(rem.className.slice(10))]
                }

                document.getElementById('cost').innerText = cost.toFixed(2);
                document.getElementById('cost2').innerText = cost2.toFixed(2);
            }

        }
    </script>

    <div class="container" onmousemove="calculate_cost()" onclick="calculate_cost()">
        <div class="row">
            <h2 style="margin-bottom: 20px; margin-right: 20px; margin-left: 20px">{{ title }}</h2>
            <img src="{% static 'img/filter.png' %}" width="20" height="20" alt="Filter"
                 style="margin-top: 15px; margin-right: 15px; cursor: pointer"
                 onclick="let q = document.getElementById('filters'); q.hidden = !q.hidden;">
            <div class="row" id="filters" style="margin-top: 5px" hidden>
                <div class="input-group mb-3" style="width: 400px; margin-left: 50px">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="for_order_filter">Для закза</label>
                    </div>
                    <select class="form-control" id="for_order_filter" onchange="filter()">
                        <option value="" selected>Все</option>
                        {% for opt in orders %}
                            <option value="{{ opt.id }}" {% if opt.id == for_order %}selected{% endif %}>№{{ opt.id }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск..." aria-label="Поиск..." id="search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="search()">&#128269</button>
            </div>
        </div>

        <table class="table table-hover" style="background-color: azure">
            <thead class="thead-light">
            <tr>
                <th scope="col" style="text-align: center">&#10003</th>
                <th scope="col" style="text-align: center">Материал</th>
                <th scope="col" style="text-align: center">Нужно</th>
                <th scope="col" style="text-align: center">Заказывается</th>
                <th scope="col" style="text-align: center">Цена</th>
                <th scope="col" style="text-align: center">Остатки</th>
                {% if user.is_authenticated %}<th scope="col"> </th>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% for elem in tasks %}
                <script>
                    {% if elem.material.get_remainder %}
                        window.remainders[{{ elem.material_id }}] = {{ elem.material.get_remainder.count }};
                        window.remainders_prices[{{ elem.material_id }}] = {{ elem.material.get_remainder.price }};
                    {% endif %}
                </script>
                <tr class="tr_for_order_{{ elem.for_order_id }}" id="tr{{ elem.id }}">
                    <th scope="row">
                        <label>
                            <big><big><big><input type="checkbox" style="width: 1.25rem; height: 1.25rem;"
                                                  id="do_include_{{ elem.id }}" class="checkbox"></big></big></big>
                        </label>
                    </th>
                    <td>
                        <img style="float: left; margin-right: 15px"
                             src="{% if elem.material.picture_url %} {{ elem.material.picture_url }} {% else %} {% static 'img/material.png' %} {% endif %}"
                             width="50" height="50" alt="missed img"/>
                        <a title="{{ elem.material.title }}"
                           style="color: black; width: 300px"><big>{{ elem.material.title }}</big></a> <br>
                        <a style="color: gray" title="№{{ elem.for_order_id }}">{% if elem.for_order_id %}Для заказа №{{ elem.for_order_id }}{% endif %}</a>
                    </td>
                    <td>
                        <label>
                            <input class="form-control" style="width: 100px" readonly type="number"
                                   value="{{ elem.count|floatformat:2 }}" id="need_{{ elem.id }}">
                        </label>
                    </td>
                    <td>
                        <label>
                            <input class="form-control" style="width: 100px" type="number" step="0.1" min="0" id="count_{{ elem.id }}"
                                   value="{{ elem.count|floatformat:2 }}" placeholder="{{ elem.count|floatformat:2 }}">
                        </label>
                    </td>
                    <td>
                        <div class="input-group mb-3" style="width: 170px">
                            <input class="form-control" type="number" id="price_{{ elem.id }}" min="0" step="0.1"
                                   value="{{ elem.material.get_last_price|floatformat:2 }}">
                            <div class="input-group-append">
                                <span class="input-group-text">₽/{{ elem.material.units }}</span>
                            </div>
                        </div>

                    </td>
                    <td>
                        {% if elem.material.get_remainder %}
                            <label style="text-align: center">
                                <input type="checkbox" id="do_use_remainder_{{ elem.id }}"
                                       onchange="remainder('{{ elem.id }}')">
                                Использовать остаток <label class="remainder{{ elem.material_id }}"
                                                            id="rem{{ elem.id }}"></label> {{ elem.material.units }}
                                <script> refresh_remainders({{ elem.material_id }}) </script>
                                <a hidden id="rem_price_{{ elem.material_id }}">{{ elem }}</a>
                            </label>
                        {% else %}
                            <p style="text-align: center">---</p>
                        {% endif %}
                    </td>

                    {% if user.is_authenticated %}
                        <td>
                            <a style="text-align: center; cursor: pointer;" onclick="del_row({{ elem.id }})">✖</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if user.is_authenticated %}
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-md-auto" id="after">
                    <div class="form-group">
                        <label for="for_order"> Для заказа</label>
                        <div class="input-group mb-3">
                            <select class="form-control" id="for_order" style="width: 400px" onchange="order_info()">
                                <option value selected>None</option>
                            </select>
                            <div class="input-group-append" onclick="add_order()" style="cursor: pointer"><span
                                    class="input-group-text">+</span></div>
                        </div>
                    </div>
                    <script> refresh_selection() </script>
                    <label for="details">Детали (примечания)</label>
                    <textarea class="form-control" id="details"></textarea>
                    <br>
                    <big><p style="color: gray">Заказ: <label id="cost">0.00</label>₽</p></big>
                    <big><p style="color: gray">Всего: <label id="cost2">0.00</label>₽</p></big>
                    <button class="btn btn-outline-success" id="btn" onclick="ordered()">&#10003 Заказано</button>
                    <br>
                    <div style="height: 25px"></div>
                </div>

                <div class="col-md-auto">
                    <div class="card card-body" id="additional" hidden>
                        <div class="container">
                            <div style="float: right; cursor: pointer;"
                                 onclick="document.getElementById('additional').hidden = true">✖
                            </div>
                        </div>
                        <iframe id="iframe" frameborder="false" scrolling="no" width="600px" height="630px"
                                onload="refresh_selection()"></iframe>
                        <iframe id="iframe2" frameborder="false" scrolling="no" width="600px" height="630px"
                                hidden></iframe>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script>
        window.fo = '';

        function remainder(eid, t) {
            let curr;
            if (document.getElementById('rem' + eid).className[0] !== 'u') {
                let need, rem;
                need = parseFloat(document.getElementById('need_' + eid).value);
                rem = parseFloat(document.getElementById('rem' + eid).innerText);
                let used = need > rem ? rem : need;

                curr = document.getElementById('count_' + eid);
                curr.placeholder = (parseFloat(curr.placeholder) - used).toFixed(2);

                curr = document.getElementById('rem' + eid);
                let mid = parseInt(curr.className.slice(9));
                curr.className = 'uremainder' + mid.toString();
                curr.innerText = used.toFixed(2);

                window.remainders[mid] = Math.round(100 * (window.remainders[mid] - used)) / 100;

                refresh_remainders(mid);
            } else {
                curr = document.getElementById('rem' + eid);
                let mid = parseInt(curr.className.slice(10));
                curr.className = 'remainder' + mid.toString();
                let used = parseFloat(curr.innerText);

                window.remainders[mid] = Math.round(100 * (window.remainders[mid] + used)) / 100;

                curr = document.getElementById('count_' + eid);
                curr.placeholder = document.getElementById('need_' + eid).value;

                refresh_remainders(mid);
            }
        }

        function add_order() {
            document.getElementById('additional').hidden = false;
            document.getElementById('iframe').hidden = false;
            document.getElementById('iframe2').hidden = true;
            document.getElementById('iframe').src = '/create-order/1';
        }

        function order_info(oid) {
            oid = document.getElementById('for_order').value;
            if (!oid)
                document.getElementById('additional').hidden = true;
            else {
                document.getElementById('additional').hidden = false;
                document.getElementById('iframe').hidden = true;
                document.getElementById('iframe2').hidden = false;
                document.getElementById('iframe2').src = '/order/' + oid + '/1';
            }
        }

        function check_required() {
            let checkboxes = document.getElementsByClassName('checkbox');
            let id_;
            for (let i = 0; i < checkboxes.length; i++)
                if (checkboxes[i].checked) {
                    id_ = checkboxes[i].id.slice(11);
                    if (!document.getElementById('count_' + id_).value || !document.getElementById('price_' + id_).value)
                        return false;
                }
            return true;
        }

        function ordered() {
            if (!check_required()) {
                let mess = document.createElement('div');
                mess.className = 'alert alert-danger';
                mess.innerText = 'Заполните все нужные поля!'
                document.getElementById('after').insertBefore(mess, document.getElementById('btn'))
            }
            let id_;
            let checkboxes = document.getElementsByClassName('checkbox');
            for (let i = 0; i < checkboxes.length; i++)
                if (checkboxes[i].checked) {
                    id_ = checkboxes[i].id.slice(11);
                    let data = {
                        count: document.getElementById('count_' + id_).value,
                        remainder_used: document.getElementById('rem' + id_) ? document.getElementById('rem' + id_).innerText : 0,
                        for_order: document.getElementById('for_order').value,
                        price: document.getElementById('price_' + id_).value,
                        details: document.getElementById('details').value
                    }
                    $.get('/add-to-stock/' + id_, data, function () {
                    }, 'jsonp')
                }

            let mess = document.createElement('div');
            mess.className = 'alert alert-success';
            document.getElementById('after').appendChild(mess);
            mess.innerText = 'Материалы успешно добавлены';

            setTimeout(() => { window.location = window.fo ? '/tasks?for_order=' + window.fo : '/tasks'; }, 3000);
        }

        function filter() {
            let all_rows = Array.from(document.getElementsByTagName('tr')).slice(1);

            for (let i = 0; i < all_rows.length; i++)
                all_rows[i].hidden = false;

            let for_order = document.getElementById('for_order_filter').value;
            window.fo = for_order;
            if (for_order)
                for (let i = 0; i < all_rows.length; i ++)
                    if (all_rows[i].className.slice(13) !== for_order)
                        all_rows[i].hidden = true;
        }

        function init_filters() {
            let ords = Array.from(document.getElementsByTagName('tr')).slice(1);
            let ff = [];
            for (let i = 0; i < ords.length; i++) {
                if (!ff.includes(ords[i].className.slice(13)))
                    ff.push(ords[i].className.slice(13));
            }
            let sel = document.getElementById('for_order_filter');
            let opt;
            for (let i = 0; i < ff.length; i++) {
                opt = document.createElement('option');
                opt.value = opt.textContent = ff[i];
                sel.options.add(opt);
            }

            {% if for_order %}
                for (let i = 0; i <= ff.length; i++) {
                    opt = sel.options[i];
                    if (opt.value === '{{ for_order }}')
                        opt.selected = true;
                filter();
                }
            {% endif %}
        }

        function del_row(rid) {
            $.ajax('/stock/delete/' + rid.toString(), {
                type: 'get',
                complete: function(r) {
                    let row = document.getElementById('tr' + rid.toString());
                    if (r.status === 200) row.remove();
                }
            })
        }

        function search() {
            let text = document.getElementById('search').value;
            window.location = text ? ('/tasks/search/' + text) : '/tasks';
        }

        (function () {
            document.getElementById('search').addEventListener('keydown', function (e) {
                if (e.keyCode === 13) {
                    search();
                }
            });
        })();

        init_filters();

    </script>

{% endblock %}